*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*PUBLIC*/


html
{
    font-size: 16px;
    font-family:inter-semi-bold;
}
img
{
    max-width: 100%;
    height: auto;
}
.container
{
    width: 80%;
    margin: auto;
}

a
{
    text-decoration: none;
    color: black;
}

input
{
    height: 45px;
    border-radius: 6px;
    border-style: none;
    color:#919BA7;
}

ul
{
    list-style: none;
}

.submit-btn
{
    background-color: #437EF7;
    color: white;
    font-family: inter-semi-bold;
    font-size: 0.9375rem;
    width: 88px;
    padding: 13px 18px 12px 18px;
    border-radius: 0px 6px 6px 0px;
}

/*End PUBLIC*/

/*Font*/
@font-face 
{
    font-family: inter-regular; /*400*/
    src: url(../fonts/inter/Inter-Regular.ttf);
}

@font-face
{
    font-family:inter-medium ; /*500*/
    src: url(../fonts/inter/Inter-Medium.ttf);
}


@font-face 
{
    font-family: inter-semi-bold; /*600*/
    src: url(../fonts/inter/Inter-SemiBold.ttf);
}


@font-face
{
    font-family:inter-bold ; /*700*/
    src: url(../fonts/inter/Inter-Bold.ttf);
}

/*End Font*/


/*HEADER*/

header
{
    box-shadow: 0px 4px 4px 0px #00000040;
    border-bottom: 1px solid #EAEBF0;
}

.nav-bar
{
   
    display: flex;
    align-items: center;
    column-gap: 64px;
}

.nav-bar-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
}

.nav-bar-container .fa-bars
{
    display: none;
}

.nav-menu
{
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}

.nav-menu .menu-iteam
{
    font-family:inter-semi-bold;
    font-size: 0.9375rem;
    line-height: 22px;
}

.fa-angle-down
{
    padding-left: .7rem;
    vertical-align: middle;
}

.nav-btn .login-btn
{
    background-color:#437EF7;
    color: white;
    margin-left: 1rem;
    width:80px;
    height:46px;
    padding: 12px 18px;
    gap: 6px;
    border-radius:6px;
    font-family:inter-semi-bold;
    font-size: 0.9375rem;
    line-height: 22px;
}

.nav-btn .signup-btn
{
    color: #437EF7;
    font-family:inter-semi-bold;
    font-size: 0.9375rem;
    line-height: 22px;
}

/*End HEADER*/

/*FIRST SECTION*/
.first-section
{
    padding-block: 5rem;
}

.first-section h5
{
    color: #437EF7;
    font-family:inter-semi-bold;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
    padding-bottom: 2rem;
}

.first-section h1 
{
    font-family: inter-bold;
    font-size: 3.25rem;
    line-height: 3.75rem;
    color: #272D37;
    text-align: center;
    margin-inline: auto;
    width: 49%;
}

.first-section h1 .span-small
{
    display: none;
}

/*End FIRST SECTION*/

/*SECOND SECTION*/
.second-section
{
    background-color: #2B63D9;
    color: white;
    margin-bottom: 64px;
}
.second-section .container{
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    padding-block: 32px;
}

.second-section-txt
{
    padding-block: 4rem;

}

.second-section-txt h3
{
    font-family:inter-semi-bold;
    font-size: 2rem;
    line-height: 2.625rem;
    padding-bottom: 1rem;
    width: 76%;
}

.second-section-txt p
{
    font-family: inter-regular; 
    color:  #B1CCFB;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 71%;

}

.second-section-form .form{
    position: relative;
}
.second-section-form input
{
    width: 100%;
    border-radius: 8px;
}

.second-section-form a
{
    background-color: #437EF7;
    color: white;
    font-family:inter-semi-bold;
    font-size: 0.9375rem;
    width: 88px;
    height: 46px;
    padding: 12px 18px 12px 18px;
    border-radius: 0px 6px 6px 0px;
   position: absolute;
    right: -1px;
    bottom: 0;
}

.second-section-form p
{
    padding-top: 10px;
    color: #B1CCFB;
    font-family: inter-regular;
    font-size: 0.875rem;
    line-height:1.25rem;
}

/*End SECOND SECTION*/

/*THIRD SECTION*/

.third-section
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-bottom: 120px;
}


.third-section-left .small-image
{
    display: none;
}

.third-section-left h2
{
    font-size:1.375rem ;
    color:#272D37 ;
    line-height:1.875rem ;
    padding-top: 1rem;
}

.third-section-left p
{
    font-family:inter-regular;
    color:#5F6D7E;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-block: 1rem;
}

.third-section-left span
{
    font-family:inter-medium;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #5F6D7E;
}

.third-section-right
{
   max-width: 100%;
}

.third-section-right .right-card
{
    display: flex;
    align-items: start;
    padding-bottom: 2rem;
    gap: 1.5rem;
}

.right-card .right-card-txt h4
{
    font-size: 1.375rem;
    color: #272D37;
    line-height: 1.875rem;
    width: 381px;
}

.right-card .right-card-txt p
{
    font-family:inter-regular;
    color: #5F6D7E;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 5px;
    padding-bottom: 13px;
    width: 376px;
}

.right-card .right-card-txt span
{
    font-family:inter-medium;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #5F6D7E;
}

/*END THIRD SECTION*/

/*FOURTH SECTION*/

.fourth-section h2
{
    font-family:inter-bold ;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #272D37;
    text-align: center;
    margin-bottom: 64px;
   position: relative;
}

.fourth-section h2::after
{
    content: '';
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    width: 138px;
    height: 5px;
    background-color: #D9D9D9;
}

.card-container
{
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.fourth-section-card img
{
    padding-bottom: 10px;
}

.fourth-section-card .date
{
    font-family:inter-medium;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #5F6D7E;
}

.fourth-section-card h4
{
    font-size: 1.375rem;
    line-height: 1.875rem;
    color: #272D37;
    margin-top: 10px;
    margin-bottom: 1rem;
}

.fourth-section-card a
{
    color: #437EF7;
    font-family:inter-semi-bold;
    font-size: 0.9375rem;
    line-height: 1.375rem;
  
}

.fourth-section-card i
{
    width: 20px;
    height: 20px;
    color: #437EF7;
    padding-left: 10px;
  
}

.fourth-section-card
{
    margin-bottom: 32px;
}

/*END FOURTH SECTION*/

/*FIFTH SECTION*/

.fifth-section
{
    background-color: #2B63D9;
    padding-top: 2rem;
    padding-bottom: 4rem;

}


.fifth-section-txt
{
    text-align: center;
    color: white;
    padding-top: 2rem;
}

.fifth-section .login-btn
{
    display: none;
}

.fifth-section-txt span
{
    font-size: 14px;
}

.fifth-section-txt h2
{
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.01em;
    text-align: center;
    margin-inline: auto;
    width: 45%;
    padding-top: 10px;
}

.fifth-section-txt a
{
    display: inline-block;
    color: #437EF7;
    font-size: 15px;
    line-height: 22px;
    background-color: white;
    padding: 12px 18px 12px 18px;
    border-radius: 6px;
    margin-top: 32px;
}
/*END FIFTH SECTION*/

/*FOOTER*/
.footer
{
    background-color: #151B28;
   
}

.footer-txt
{
   
    width: 60%;
}

.footer-container 
{
    padding-block: 64px;
    display: flex;
    justify-content: space-between;
}

.footer-txt p
{
    font-family: inter-regular;
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-block: 1rem;
    width: 62%;
}

.footer input
{
    width: 65%;
    background-color: #2E3545;
    border: 1px solid #2E3545;
}

.footer-form
{
    position: relative;
}

.footer .submit-btn
{
    position: absolute;
    right: 35%;
    bottom: 1px;
}

.footer-list
{
    display: flex;
    justify-content: space-between;
    width: 75%;
}



.footer-list li
{
    margin-bottom: 12px;
}

.footer-list li a
{
    color: #A5ACBA;
    font-family:inter-medium ;
    font-size: 1rem;
    line-height: 24px;
}

.footer-list .active
{
 
    color: #F9F9F9;
    font-size: 16px;
    line-height: 50px;
} 

.footer .copyright
{
    padding-block: 32px;
    font-family: inter-regular;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #A5ACBA;
    text-align: center;
    border-top: #2E3545 1px solid;
}



/*END FOOTER*/

/*MEDIA QUERIES*/

@media (max-width: 768px)
{
    html
    {
        overflow-x: hidden;
    }
    .container
    {
        width: 90%;
        margin: auto;
    }

    .nav-bar 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

  .nav-btn
    {
        display: none;
    }

    .nav-bar .nav-menu
    {
        display: none;
    }

    .nav-bar-container .fa-bars
    {
        display: inline-block;
    }

    .first-section h1 
    {
        width: 78%;
    }
    .middle
    {
        display: flex;
        flex-direction: column-reverse;
    }

    .second-section .container 
    {
        grid-template-columns: 1fr;
    }

    .third-section 
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
    }

    .right-card .right-card-txt p 
    {
        width: 75%;
    }

    .third-section-left img
    {
        width: 90%;
    }
    .third-section-right
    {
        padding-top: 32px;
        
    }

    .second-section
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        left: 0;
        bottom: 0;
    }

    .second-section-txt p 
    {
        width: 68%;
    }

    .second-section-txt h3
    {
        width: 100%;
    }

    .card-container 
    {
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }
    .fifth-section .login-btn 
    {
        display: inline-block;
        margin-left: 10px;
        background-color: #437EF7;
        color: white;
    }
    

    .fifth-section-txt h2 
    {
        width: 81%;
    }
    
   
    
    .footer-list 
    {
        flex-direction: row-reverse;
        margin-top: 64px;
    }

   
    .footer-txt p 
    {   
        width: 100%;

    }
    .footer-txt input 
    {
        width: 494px;
        background-color: #2C3444;
    }

    .footer .submit-btn 
    {
        position: absolute;
        right: -22%;
        bottom: 1px;
    }

    .footer-container 
    {
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (max-width: 450px)
{
    .container
    {
        width: 100%;
        margin: auto;
        padding-inline: 1rem;
    }

    .first-section h1 {
        width: 100%;
        font-size: 2.25rem;
        line-height: 44px;
    }


    .second-section-txt h3
    {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.02em;
        text-align: left;
    }
    .second-section-txt p 
    {
        width: 100%;
    }

    .second-section-form input 
    {
        gap: 8px;
        border-radius: 6px;
        margin-bottom: 64px;
    }

    .second-section-form span
    {
        display: none;
    }

    .second-section-form .submit-btn 
    {
       width: 100%;
        text-align: center;
        border-radius: 6px;
       
    }

    .third-section-right .right-card 
    {
        display: flex;
        flex-direction: column;
        align-items: normal;
        padding-bottom: 2rem;
        gap: 1.5rem;
    }

    .third-section-left .small-image
    {
        display: inline;
        width: 100%;
    }

    .third-section-left img
    {
        display: none;
    }

    .card-container 
    {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .fifth-section-txt h2 
    {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.02em;
        text-align: center;
        width: 100%;
        padding-inline: 2rem;
    }

    .fifth-section-txt a
    {
       width: 90%;
       margin-bottom: 32px;
    }
    .fifth-section-txt .buttons
    {
        position: relative;
    }
  
     .fifth-section-txt .signup-btn 
    {
        position: absolute;
        left: 6%;
        top: 55px;
    }
    
    .footer-txt {
        width: 100%;
    }
    .footer-txt p 
    {
        color: #A5ACBA;
    }

    .footer-txt input 
    {
        width: 100%;
    }

    .footer .submit-btn 
    {
        position: absolute;
        right: 0;
    }

    .footer-list 
    {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        width: 100%;
    }

    .footer-list ul
    {
        width: 50%;
    }

    img
    {
        width: 100%;
    }

    .nav-bar img
    {
        width: auto;
    }

    .footer-txt img
    {
        width: auto;
    }
}
   
